@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

body {
  height: 100%;
  margin: 0;
}


/*----------------------------------------- --------------------------------Stockholm-page*/
#header {
 
  position: fixed; /* Fixed position - sit on top of the page */
  top: 0;
  width: 100%; /* Full width */
  transition: 0.2s; /* Add a transition effect (when scrolling - and font size is decreased) */
  z-index: 2;
}

.sticky-header {
    padding: 16px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

.sticky + .sticky-header {
    padding-top: 50px;
}



  #navbarNav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
   

  }

  

.bg-head{
    color: #fafafa;
    font-family: "roboto" , sans-serif;
    font-weight: 500;
    font-size: 25px;
    text-transform: uppercase;
    padding: 10px;
    margin: 0;
}
.icon{
    margin: 0%;
    padding: 10px;
    font-size: 35px;

    }

   
    

@media only screen and (max-width: 576px) {
   .bg-head{
       
       font-size: 18px;
       padding: 5px;
       margin: 0;
         
   }
   .icon{
        font-size: 18px;
   }
  
}

#sweden{
    height: 500px;
    width: 100%;
    overflow: hidden;
    position: relative;
    
}

#sweden-image{
     height: 500px;
    width: 100%;
    background: url("https://www.visitstockholm.se/media/images/City_Hall_DSC08361_Bjorn_Olin_3.max-1200x630.jpg") no-repeat center center;
    background-size: cover;
    animation-name: sweden-zoom;
    animation-duration: 10s;
    animation-fill-mode: backwards;
}

@keyframes sweden-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

#data{
     width: 200px;
    height: 50px;

    padding-top: 10px;
    padding-left: 10px;

    bottom: 25px;
    right: 150px;

    position: absolute;
}

#data a{
    text-decoration: none;
}



.fa-youtube-play{
    font-size: 35px;
    color: #fafafa;
    margin: 0;
    padding-right: 10px;
   
    
    
}

.open-film{
    font-family: "roboto",sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #fafafa;
    
    
}

@media only screen and (max-width: 576px) {
   
   #sweden{
       height: 400px;
   }

}

#wel-to-swed{
    font-family: "Roboto" , sans-serif;
    font-size: 30px;
    font-weight: 500;
    color: #000;
    letter-spacing: 8px;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    padding: 20px;
    text-shadow: 3px 3px goldenrod;
}

.guid-image {
     display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 5%;
  
}

.guid-image img{
    margin: 0;
    padding-bottom: 10px;
    height: 250px;
    width: 250px;
    border-radius: 250px;
   
}

.guid-image li{
    border: none;
}

.info-list{
    text-align: center;
    font-family: "Roboto" , sans-serif;
    font-weight: 400;
    font-size: 30px;
}

.image-img{
    font-size: 20px;
    padding: 0;
    margin: 0;
    height: 10px;
    width: 20px;
}

.swed{
    font-family: "Roboto",sans-serif;
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
}


#edjucationInfo , .edjucationInfo{
    
    color:#000;
    margin: 0;
    padding-top: 5px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 30px;
    
    text-transform: uppercase;
   
    
}



.parOne{
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: normal;
    line-height: 25px;
    color: #000;
    margin: 0;
    padding: 5px;
}




.headList_0{
    font-family: "roboto", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #000;
    padding-top: 20px;
    padding-bottom: 10px;
    margin: 0;
    text-transform: uppercase;
    padding-left: 5px;
}

.headList_1{
    font-family: "roboto", sans-serif;
    font-weight: 300;
    font-size: 15px;
    float: left;
    padding-top: 5px;
    padding-bottom: 10px;
    margin: 0;
    text-transform: uppercase;
    line-height: 2;
    text-decoration: none;
    color: #000;
    

}

.headList_1 a{
    text-decoration: none;
    color: #000;
}

.list-img{

    height: 400px;
    width: 400px;
    margin: 0;
     border: 1px solid #3f4144;
     margin: 30px;


}

@media only screen and (max-width: 576px) {
   
   .list-img{
      height: 200px;
      width: 200px;
   }
}


@media only screen and (max-width: 576px) {


    table{
        display: none;
    }
}


.table-img{
    height: 250px;
    width: 250px;
    display: block;
    margin-top: 53px;
    margin-bottom: 20px;
    margin-left: 15px ;
    margin-right: 15px;
    border: 1px solid #3f4144;
    
}

.table-img:hover {
  width: 300px;
  opacity: 0.5;
}

@media only screen and (max-width: 576px) {
   
   .table-img{
      height: 200px;
      width: 200px;
   }
   .table-img:hover {
  width: 220px;
  opacity: 0.5;
}
}

.tr-sweden{
    font-family: "Roboto" ,sans-serif;
    font-weight: 700;
    background-color: #fff;
    border-radius: 10px;
    height: 80%;
    width: 80%;
    box-shadow: 0 2px 25px 0 rgb(0 0 0 / 15%);
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    margin-bottom: 16px;
    text-transform: uppercase;
   

}
.hvr-sweep-to-right:before {
    background-color: rgb(173, 32, 114);
   -webkit-transition: all 1500ms ease;
-moz-transition: all 1500ms ease;
-ms-transition: all 1500ms ease;
-o-transition: all 1500ms ease;
transition: all 1500ms ease;
    
}

.fa-lg{
    color: rgb(173, 32, 114);
    margin-right: 10px;

}

#tourism , #history{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 35px;
    
    text-transform: uppercase;
   
    padding-top: 15px;

}
.tr-po{
    
     display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 10px;

}

.tr-sweden a{
    font-family: "Roboto",sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: #000;
    text-decoration: none;

}

.bg-footer{
    background: #fdd835;
    min-height: 150px;
}

.foot-info{
    display: inline-block;
    margin-right: 2px;
    margin-top: 25px;
    margin-left: 2px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: blue;
    text-transform: capitalize;

}

.foot-link{
     display: block;
    margin-right: 5px;
    margin-top: 15px;
    margin-left: 5px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: blue;
    text-transform: uppercase;
    text-align: center;
}

.bg-footer img{
    margin: 20px;
    
}

.social-links{
     display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 10px;
}

.social-links i{
    font-size: 30px;
    margin: 0;
    padding: 10px;
    color: blue;
    border: 2px solid;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    text-align: center;
}

/*-------------------------------------------------------------Stockholm-page*/

#stockholm{
    height: 500px;
    width: 100%;
    overflow: hidden;
    position: relative;
    
}

#stockholm-image{
     height: 500px;
    width: 100%;
    background: url("../image/visit-stockholm.jpg") no-repeat center center;
    background-size: cover;
    animation-name: stockholm-zoom;
    animation-duration: 10s;
    animation-fill-mode: backwards;
}

@keyframes stockholm-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.2);
    }
}

#stockholm-content{
     width: 200px;
    height: 50px;

    padding-top: 10px;
    padding-left: 10px;

    bottom: 25px;
    right: 150px;

    position: absolute;
}




#stock-row{
      display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
   
}





.visit-head{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 30px;
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #000;

}


@media only screen and (max-width: 576px) {
   
  .visit-head{
      font-size: 25px;
   }
  .flagg-1 , .flagg-2{
    font-size: 25px;
}
}



.flagg-1{
    color: yellow;
}

.flagg-2{
    color: blue;
}

.para-2{
     font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 15px;
    margin-top: 5px;
    text-align: center;
    text-transform: uppercase;
    color: #000;
}




#stockholm-image-one{
    background: url("../image/fika-i-stockholm.jpg") no-repeat;
    background-size: cover;
    width: 550px;
    height: 350px;
    position: relative;
    margin: 10px;
     border-radius: 2%;
}

#stockholm-image-one:hover{
    background-size: 560px;
}

@media only screen and (max-width: 576px) {
   
  #stockholm-image-one{
      width: 300px;
   }
}





#stockholm-text-one {
    padding-top: 10px;
    padding-left: 10px;
    bottom: 20px; 
font-size: 15px;
color: #fafafa;
font-family: "Roboto", sans-serif;
font-weight: 500;
    position: absolute;
    text-transform: uppercase;
}

#stockholm-image-two{
    background: url("../image/IMG_stockholm.jpg") no-repeat;
    background-size: cover;
    width: 300px;
    height: 350px;
    position: relative;
    margin: 10px;
   border-radius: 2%;
   
}

#stockholm-image-two:hover{
    background-size: 540px;
}


 #stockholm-text-two{
      padding-top: 10px;
    padding-left: 10px;
    bottom: 20px; 
font-size: 15px;
color: #fafafa;
font-family: "Roboto", sans-serif;
font-weight: 500;
    position: absolute;
    text-transform: uppercase;
 }

 #stockholm-image-three{
    background: url("../image/event-i-stockholm.jpg") no-repeat;
    background-size: cover;
    width: 300px;
    height: 350px;
    position: relative;
    margin: 10px;
     border-radius: 2%;
}
#stockholm-image-three:hover{
    background-size: 320px;
}

 #stockholm-text-three{
    padding-top: 10px;
    padding-left: 10px;
    bottom: 20px; 
font-size: 15px;
color: #fafafa;
font-family: "Roboto", sans-serif;
font-weight: 500;
    position: absolute;
    text-transform: uppercase;
    
 }


.line{
     border: 1px solid ;
  
  width: 50%;
}

.sunny{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 25px;
    margin-left: 13px;
    padding: 10px;
}

.walk-info{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 1px;
    margin: 0;
    padding: 10px;

}

.walk-image , #walk-image{
    max-width: 600px;
   max-height: 550px;
    
     display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
   
}

@media only screen and (max-width: 576px) {
   
  .walk-image{
      width: 250px;
      height: 250px;
   }
}


.card-row {
      display: flex;
      justify-content: space-between;
    }

    .card {
    
      padding: 15px;
      border: 2px solid #c9c9c9;
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
    }

   

   .card-body {
       padding-top: 3px;
       margin:8px;
   }

.card img{
    margin: 5px;
    padding-top: 8px;
    padding-bottom: 35px;
    padding-right: 8px;
   min-width: 180px;
    min-height: 200px;
}
.text{
    font-size: 13px;
    color: #000;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    padding-left: 26px;
    
}

.card a{
    text-decoration: none;
}





#map {
 height: 720px;
  width: 100%;
  margin:10px;
  
  
}

@media only screen and (max-width: 576px) {
   
  #map {
 height: 400px;
  width: 100%;
  margin:10px;
  
  
}
}



/*---------------------------------------------------------------------*/

.gallary div {
       display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    position: relative;
}

.gallary-text{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
}

#gallary-box img{
    padding: 6px;
    margin: 0;
    margin-bottom: 10px;
    width: 100%;
   
}

#gallary-box .content {
  position: absolute; 
  top:1;
  bottom: 0; 
  background: rgba(0, 0, 0, 0.5);
  color: #fafafa;
  width: 95%; 
  max-height: 40%;
  padding: 5px;
  margin: 15px;
}

.content h5{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #fafafa;
}

.gallary-para{
    
    margin: 0;
    padding-top: 5px;
    font-size: 15px;
}

/*---------------------------------------------------portofolio-page*/

.head {
  width: 100%;
  margin-top: 40px;
}



.gallary-head{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 30px;
    text-align: center;
    letter-spacing: 2px;
    color:#000;
    text-transform: uppercase;
}

#myGallary .btn{
    color: #fafafa;
    background-color: #343a40;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    
    

}

#myGallary button{
    padding: 10px 15px;
    margin: 3px;
    
}

#myGallary button:hover{
    background-color: #fff;
    color: #000;
    display: inline-block;
}

#myGallary div{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  display: none; /* Hide all elements by default */
}

@media only screen and (max-width: 576px) {
   
  .column {
 
   float: left;
  width: 100%;
  display: none;
  
}
}


.content {
  background-color: white;
 
}

.content img , .content h4,.content  p{
    margin: 5px;
    padding: 5px;

}

@media only screen and (max-width: 576px) {
   
    .content img{
   
    width: 80%;
    
  }
  }

  .content img{
      width: 100%;
  }

.food img{
    width: 98%;
}

.event img{
    width: 98%;
}
/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}


#gallary-container{
    height: 500px;
    width: 100%;
    overflow: hidden;
    position: relative;
    
}

#gallary-foto{
     height: 500px;
    width: 100%;
    background: url("../image/Stockholm-view-1.webp") no-repeat center center;
    background-size: cover;
    opacity: 0.9;
   
}

#main{
    padding-top: 10px;
    padding-left: 10px;
    bottom: 25px;
    
   position: absolute;
}

#main h1{
    color:#fafafa;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 40px;
    text-transform: uppercase;
   

}

#main span{
    color:#fff;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 20px;
    
   

}

nav #navbarToggleExternalContent {
    display: none;
  }

  @media (max-width: 960px) {
    nav #navbarNav   { display: none; }
    nav #navbarToggleExternalContent { display: inline-block; }
  }